.HackathonSignUp {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: #fcfcfc;
}
.HackathonSignUp h1 {
  font-size: 5em;
  font-weight: lighter;
  padding-bottom: 30px;
}
.HackathonSignUp h2 {
  font-size: 1.5em;
  text-transform: none;
  font-weight: 300;
  margin-left: 5px;
}
.HackathonSignUp .ButtonContainer {
  margin-left: 5px;
  display: flex;
  align-items: center;
  height: 150px;
}
