.EmailField {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 45px;
  padding: 5px;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  color: white;
  border-radius: 90px;
  background-size: 400% 400%;
}
.EmailField:hover {
  width: 135px;
  height: 63px;
}
.EmailField:hover {
  transition: all 0.4s ease-in-out;
  background-position: 100% 0;
}
.SpecialEmailField {
  font-weight: bold;
  animation: GradientLeftTranslate 30s ease infinite;
  background: linear-gradient(270deg, #5f2c82, #ee38bf, #ff5858, #49a09d, #1b5ece, #5f2c82, #ee38bf, #ff5858);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 45px;
  padding: 5px;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  color: white;
  border-radius: 90px;
  background-size: 400% 400%;
}
.SpecialEmailField:hover {
  width: 135px;
  height: 63px;
}
@keyframes GradientLeftTranslate {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: 100% center;
  }
}
