.Jumbotron{

	width: 100vw;
	height: 80vh;

	display: flex;
	justify-content: center;
	align-items: center;

}

.Jumbotron .container{
    max-width: 700px;
    margin: 0px auto;
    padding: 1px;
}

.Jumbotron .row{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:1px;
}

.Jumbotron .Header{
    margin: 0;
    margin-right: 50px;
}

.Jumbotron p{
  display: inline-block;
  max-width: 300px;
  margin: 0px;
}

.Jumbotron .Button{
  margin-bottom: 0;
}
