.Jumbotron{
  margin: 0px auto;
  max-width: 700px;
}

.row{
  display: flex;
  align-items: center;
  margin: 50px;
}

.Jumbotron h1{
  color: #ffb629;
  text-shadow: 0px 2px 2px #000;
  font-size: 2em;
  display: inline-block;
  margin: 0px 50px;
}

.Jumbotron p{
  display: inline-block;
  max-width: 300px;
  margin: 0px;
  margin-left: 50px;
}

.Jumbotron .JumboButton{
  border-width: 4px;
  border-style: solid;
  box-shadow: 0px 0px 8px 1px;
  padding: 25px;
  margin: 50px;
}
