.Hackathon {
  background: black; //#33ccff;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	.HackathonBanner {
		width: 450px;

		padding-right: 10%;
	}
}

@media screen and (max-width: 900px)
{
    .Hackathon
    {
        flex-direction: column;

				height: 130vh;

				.HackathonBanner {
					width: 90vw;
					padding: 0;
				}
    }
}
